@use '_variables_for_code' as vars; 
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&display=swap');

$mode-setting: light;
:root {
	--font-family-base: "Noto Sans KR", sans-serif;

	--a1-n:0;
	--a2-n:0;
	--a3-n:0;
	--a4-n:0;
	--a5-n:0;
	--a6-n:0;
	--a7-n:0;
	--a8-n:0;
	--a1-percent:0;
	--a2-percent:0;
	--a3-percent:0;
	--a4-percent:0;
	--a5-percent:0;
	--a6-percent:0;
	--a7-percent:0;
	--a8-percent:0;

	--sat: env(safe-area-inset-top);
	--sar: env(safe-area-inset-right);
	--sab: env(safe-area-inset-bottom);
	--sal: env(safe-area-inset-left);

	--primary: #225bbc;
	--sub: #1ee09f;

	--white: #fff;
	--gray-100: #f8f8f8;
	--gray-200: #ededed;
	--gray-300: #dddddd;
	--gray-400: #cccccc;
	--gray-500: #999999;
	--gray-600: #777777;
	--gray-700: #555555;
	--gray-800: #333333;
	--gray-900: #111111;
	--black: #000;

	--gap: 0.4rem;
	--x1: calc(var(--gap) * 1);
	--x2: calc(var(--gap) * 2);
	--x3: calc(var(--gap) * 3);
	--x4: calc(var(--gap) * 4);
	--x5: calc(var(--gap) * 5);
	--x6: calc(var(--gap) * 6);
	--x7: calc(var(--gap) * 7);
	--x8: calc(var(--gap) * 8);
	--x9: calc(var(--gap) * 9);
	--x10: calc(var(--gap) * 10);
	--x11: calc(var(--gap) * 11);
	--x12: calc(var(--gap) * 12);
	--x13: calc(var(--gap) * 13);
	--x14: calc(var(--gap) * 14);
	--x15: calc(var(--gap) * 15);
	--x16: calc(var(--gap) * 16);
	--x17: calc(var(--gap) * 17);
	--x18: calc(var(--gap) * 18);
	--x19: calc(var(--gap) * 19);
	--x20: calc(var(--gap) * 20);
	--x21: calc(var(--gap) * 21);
	--x22: calc(var(--gap) * 22);
	--x23: calc(var(--gap) * 23);
	--x24: calc(var(--gap) * 24);
	--x25: calc(var(--gap) * 25);
	--x26: calc(var(--gap) * 26);
	--x27: calc(var(--gap) * 27);
	--x28: calc(var(--gap) * 28);
	--x29: calc(var(--gap) * 29);
	--x30: calc(var(--gap) * 30);
	--x31: calc(var(--gap) * 31);
	--x32: calc(var(--gap) * 32);
	--x33: calc(var(--gap) * 33);
	--x34: calc(var(--gap) * 34);
	--x35: calc(var(--gap) * 35);
	--x36: calc(var(--gap) * 36);
	--x37: calc(var(--gap) * 37);
	--x38: calc(var(--gap) * 38);
	--x39: calc(var(--gap) * 39);
	--x40: calc(var(--gap) * 40);

	--icon-svg-refresh:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%231f1f1f'%3E%3Cpath d='M480-160q-134 0-227-93t-93-227q0-134 93-227t227-93q69 0 132 28.5T720-690v-110h80v280H520v-80h168q-32-56-87.5-88T480-720q-100 0-170 70t-70 170q0 100 70 170t170 70q77 0 139-44t87-116h84q-28 106-114 173t-196 67Z'/%3E%3C/svg%3E");
}

:root[data-mode="light"] {
	--color-background-default: var(--gray-100);
	--color-background-table: var(--gray-200);
	--color-text-primary: var(--gray-800);
	--color-text-secondary: var(--gray-600);
	--color-border-light: var(--gray-300);
	--color-border-dark: var(--gray-500);
	--color-icon-default: var(--gray-700);
	--color-disabled-text: var(--gray-400);

	--btn-bgcolor-dark: var(--gray-800);
	--btn-bgcolor-gray: var(--gray-300);
	--btn-bgcolor-light: var(--white);

	--nav-bgcolor1: var(--white);
	--nav-bgcolor2: var(--black);
	--nav-shadow: rgba(0, 0, 0, 0.05);

	--box-background: var(--white);

	--bgcolor: #F6F7F9;
}
:root[data-mode="dark"] {
	/* 1. 기본 배경 및 텍스트 */
	--color-background-default: var(--gray-900); 	/* 밝은 배경 -> 어두운 배경 */
	--color-background-table: var(--gray-800); 		/* 밝은 배경 -> 어두운 배경 */
	--color-text-primary: var(--gray-200);      	/* 어두운 텍스트 -> 밝은 텍스트 */
	--color-text-secondary: var(--gray-400);    	/* 조금 더 밝게 조정 */
	--color-icon-default: var(--gray-300);      	/* 아이콘 색상도 밝게 */
	--color-disabled-text: var(--gray-600);     	/* 비활성화 텍스트는 어두운 배경에서 좀 더 잘 보이도록 */

	--color-border-light: var(--gray-700); 
	--color-border-dark: var(--gray-600); 
	

	--color-card-background: var(--gray-800);
	--color-modal-background: var(--gray-850); 
	
	--bgcolor: #17171c;
	--primary: #225bbc;
	--sub: #1ee09f;

	--box-background: var(--black);

	--nav-bgcolor1: var(--gray-800);
	--nav-bgcolor2: var(--white);
	--nav-shadow: rgba(255, 255, 255, 0.05);
	
	.logo-netive,
	.img-main .logo,
	.base-header--title .logo {
		filter: invert(1) hue-rotate(180deg);
	}
	/* 특정 아이콘에만 적용할 경우 */
	.icon-light-only {
		filter: brightness(0.7) contrast(1.2);
	}
}


@media (prefers-color-scheme: dark) {
  :root {
    /* 1. 기본 배경 및 텍스트 */
		--color-background-default: var(--gray-900); 	/* 밝은 배경 -> 어두운 배경 */
		--color-background-table: var(--gray-800); 		/* 밝은 배경 -> 어두운 배경 */
		--color-text-primary: var(--gray-200);      	/* 어두운 텍스트 -> 밝은 텍스트 */
		--color-text-secondary: var(--gray-400);    	/* 조금 더 밝게 조정 */
		--color-icon-default: var(--gray-300);      	/* 아이콘 색상도 밝게 */
		--color-disabled-text: var(--gray-600);     	/* 비활성화 텍스트는 어두운 배경에서 좀 더 잘 보이도록 */

		--color-border-light: var(--gray-700); 
		--color-border-dark: var(--gray-600); 
		

		--color-card-background: var(--gray-800);
		--color-modal-background: var(--gray-850); 
		
		--bgcolor: #17171c;
		--primary: #225bbc;
		--sub: #1ee09f;

		--box-background: var(--black);

		--nav-bgcolor1: var(--gray-800);
		--nav-bgcolor2: var(--white);
		--nav-shadow: rgba(255, 255, 255, 0.05);
		
		.logo-netive,
		.img-main .logo,
		.base-header--title .logo {
			filter: invert(1) hue-rotate(180deg);
		}
		/* 특정 아이콘에만 적용할 경우 */
		.icon-light-only {
			filter: brightness(0.7) contrast(1.2);
		}
  }
}
