$font-family-base: "Noto Sans KR", sans-serif !default;
$font-size-base: 62.5% !default; //10px 1rem으로 설정

$breakpoint-small: 360px !default;
$breakpoint-medium: 768px !default;
$breakpoint-large: 1280px !default;
$breakpoint-xlarge: 1440px !default;