
// font
[data-heading="display"] {
  position: relative;
  font-family: "Bitcount Prop Single", system-ui;
	font-size: var(--x10);
	line-height: 1;
	font-weight: 100;
	letter-spacing: 0.09em; 

  &::first-letter {
    font-weight: 100;
  }
  &::before {
    content: attr(data-text);
    font-family: "Bitcount Prop Single", system-ui;
    font-size: 1em;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 0.09em; 
    position: absolute;
    left: 0;
    opacity: 0.1;
    color: rgb(190, 190, 190);
    transform: translate(.03em, .03em);
  }
  // &::after {
  //   content: attr(data-text);
  //   font-family: "Bitcount Prop Single", system-ui;
  //   font-size: 1em;
  //   line-height: 1;
  //   font-weight: 400;
  //   letter-spacing: 0.09em; 
  //   position: absolute;
  //   left:0;
  //   opacity: 0.1;
  //   color: rgb(15, 243, 26);
  //   transform: translate(-.04em, -.03em);
  // }
}

[data-heading="h1"] {
  font-size: var(--x6);
  font-weight: 700; 
}
[data-heading="h2"] {
  font-size: var(--x4);
  font-weight: 700; 
}
[data-heading="h3"] {
  font-size: var(--x3);
  font-weight: 700; 
}
[data-heading="h4"] {
  font-size: var(--x2);
  font-weight: 700; 
}
[data-heading="h5"] {
  font-size: var(--x1);
  font-weight: 700;
}
[data-heading="h6"] {
  font-size: var(--x1);
  font-weight: 700;
}