
/* accordion */
[data-accordion] {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

[data-accordion-item] {
  display: flex;
  flex-direction: column;
}

[data-accordion-group] {
  display: flex;
}

[data-accordion-head] {
  position: relative;
  display: flex;
}
[data-accordion-title] ~ [data-accordion-button] {
  position: absolute;
  text-align: left;
}
[data-accordion-button] {
  position: relative;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 1;
  text-align: left;

  &[aria-expanded="true"]::after {
    content: "keyboard_arrow_up";
  }
  &::after {
    content: "keyboard_arrow_down";
    font-family: "Material Symbols Rounded";
    position: absolute;
    font-size: 2.4rem;
    top: 50%;
    right: var(--x2);
    width: 3rem;
    height: 3rem;
    transform: translateY(-50%);
    transition: transform .3s ease;
    text-align: center;
  }
}
[data-accordion-button]:disabled {
  opacity: 1;
}

[data-accordion-title] {
  position: relative;
  z-index: 0;
  width: 100%;
}

[data-accordion-body] {
  position: relative;
  overflow: hidden;
}