/* dialog */
[data-dialog] {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  pointer-events: visible;

  //zindex
  &[data-zindex="1"] {
    z-index: 1;
  }
  &[data-zindex="2"] {
    z-index: 2;
  }
  &[data-zindex="3"] {
    z-index: 3;
  }
  &[data-zindex="4"] {
    z-index: 4;
  }
  &[data-zindex="5"] {
    z-index: 5;
  }
  &[data-zindex="6"] {
    z-index: 6;
  }
  &[data-zindex="7"] {
    z-index: 7;
  }
  &[data-zindex="8"] {
    z-index: 8;
  }
  &[data-zindex="9"] {
    z-index: 9;
  }
  &[data-zindex="10"] {
    z-index: 10;
  }

  // ready -> open
  &[data-state="hide"] {
    animation-name: modal-hide;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

    .dim {
      opacity: 0;
    }
    &[data-ps="center"] [data-dialog-item="wrap"] {
      animation-name: fade-Out;
      animation-duration: 0.2s;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }
    &[data-ps="bottom"] [data-dialog-item="wrap"] {
      animation-name: bottom-Out;
      animation-duration: 0.2s;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }
    &[data-ps="top"] [data-dialog-item="wrap"] {
      animation-name: top-Out;
      animation-duration: 0.2s;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }
    &[data-ps="left"] [data-dialog-item="wrap"] {
      animation-name: left-Out;
      animation-duration: 0.2s;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }
    &[data-ps="right"] [data-dialog-item="wrap"] {
      animation-name: right-Out;
      animation-duration: 0.2s;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }
  }
  &[aria-hidden="false"] {
    display: flex;

    &[data-current="true"] .dim {
      opacity: 1;
    }
    &[data-ps="center"] [data-dialog-item="wrap"] {
      animation-name: fade-In;
      animation-duration: 0.2s;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }
    &[data-ps="bottom"] [data-dialog-item="wrap"] {
      animation-name: bottom-In;
      animation-duration: 0.2s;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }
    &[data-ps="top"] [data-dialog-item="wrap"] {
      animation-name: top-In;
      animation-duration: 0.2s;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }
    &[data-ps="left"] [data-dialog-item="wrap"] {
      animation-name: left-In;
      animation-duration: 0.2s;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }
    &[data-ps="right"] [data-dialog-item="wrap"] {
      animation-name: right-In;
      animation-duration: 0.2s;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }
  }

  // 위치
  &[data-ps="center"] {
    justify-content: center;
    align-items: center;

    &[aria-hidden="true"] {
      .project-dialog--item {
        animation-name: scale-Out;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
      }
    }
    &[aria-hidden="false"] {
      .project-dialog--item {
        animation-name: scale-In;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
      }
    }
  }
  &[data-ps="bottom"] {
    justify-content: center;
    align-items: flex-end;

    &[aria-hidden="true"] {
      .project-dialog--item {
        animation-name: bottom-Out;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
      }
    }
    &[aria-hidden="false"] {
      .project-dialog--item {
        animation-name: bottom-In;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
      }
    }
  }
  &[data-ps="top"] {
    justify-content: center;
    align-items: flex-start;

    &[aria-hidden="true"] {
      .project-dialog--item {
        animation-name: top-Out;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
      }
    }
    &[aria-hidden="false"] {
      .project-dialog--item {
        animation-name: top-In;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
      }
    }
  }
  &[data-ps="left"] {
    justify-content: flex-start;
    align-items: center;

    &[aria-hidden="true"] {
      .project-dialog--item {
        animation-name: left-Out;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
      }
    }
    &[aria-hidden="false"] {
      .project-dialog--item {
        animation-name: left-In;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
      }
    }
  }
  &[data-ps="right"] {
    justify-content: flex-end;
    align-items: center;

    &[aria-hidden="true"] {
      .project-dialog--item {
        animation-name: right-Out;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
      }
    }
    &[aria-hidden="false"] {
      .project-dialog--item {
        animation-name: right-In;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
      }
    }
  }

  [data-dialog-item="wrap"]:focus {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  }

  // 확장 드래그
  [data-dialog-item="extend"] {
    position: absolute;
    width: 100%;
    height: 2rem;
    top: 0;
    left: 0;
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: "";
      display: block;
      width: 40%;
      height: 0.4rem;
      border-radius: 0.3rem;
      background-color: rgba(0, 0, 0, 0.2);
      transition: width 200ms ease;
    }
    &:active {
      cursor: grabbing;
      &::after {
        width: 30%;
        height: 0.2rem;
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
  }
}

// base style
.ui-dialog {
  &--wrap {
    position: relative;
    z-index: 1;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 2.4rem;
    border-radius: 0.8rem;
    border: 0.1rem solid #ccc;
  }
  &--header {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
  }
  &--footer {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
  }
  &--main {
    display: flex;
    flex: 1;
  }

  &[data-ps="bottom"] .ui-dialog--wrap {
    border-radius: 0.8rem 0.8rem 0 0;
  }
  &[data-ps="top"] .ui-dialog--wrap {
    border-radius: 0 0 0.8rem 0.8rem;
  }
  &[data-ps="left"] .ui-dialog--wrap {
    border-radius: 0 0.8rem 0.8rem 0;
  }
  &[data-ps="right"] .ui-dialog--wrap {
    border-radius: 0.8rem 0 0 0.8rem;
  }

  //dim
  .dim {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: 0;
    transition: opacity 0.2s ease;
  }
}

/* toast */
.ui-toast[data-type="toast"] {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  border-radius: 0.8rem;
  top: auto;
  left: auto;
  max-width: calc(100% - 3.2rem);
  height: auto;
}
.ui-toast[data-type="toast"][aria-hidden="false"][data-ps="bottom"] {
  animation-name: bottom-In;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.ui-toast[data-type="toast"][aria-hidden="false"][data-ps="top"] {
  animation-name: top-In;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
