/* tab */
[data-tab] {
  display: flex;
  overflow-x: auto;
  position: relative;
  scroll-behavior: smooth; 
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
[role="tablist"] {
  display: flex;
  flex-wrap: nowrap;
  gap: 0;
  width: 100%;

  [role="tab"] {
    display: flex;
    padding: 1.2rem;
    cursor: pointer;
    min-width:10rem
  }
}

[role="tab"][aria-selected="true"] {
  font-weight: 700;
}

[role="tabpanel"],
[role="tabpanel"][aria-expanded="false"] {
  display: none;
}
[role="tabpanel"][aria-expanded="true"] {
  display: block;
}
[data-tab-type="scroll"] {
  &[data-tab] {
    position: sticky;
  }
  &[data-tab-wrap] {
    display:flex;
    flex-direction: column;
    gap:var(--x2);
  }
  [role="tabpanel"] {
    scroll-margin-top: 0;
  }
}
