/* tab */
[data-tab] {
  position: relative;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100%;
  z-index: 1;
}
[role="tablist"] {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  gap: 0;

  [role="tab"] {
    position: relative;
    display: flex;
    padding: 1.2rem;
    cursor: pointer;
    min-width: 10rem;

    &[aria-selected="true"] {
      font-weight: 700;
    }
  }
}
[data-tab-wrap] {
  position: relative;
}
[role="tabpanel"],
[role="tabpanel"][aria-expanded="false"] {
  display: none;
}
[role="tabpanel"][aria-expanded="true"] {
  position: relative;
  display: block;
}
[data-tab-type="scroll"] {
  &[data-tab] {
    position: sticky;
  }
  &[data-tab-wrap] {
    display: flex;
    flex-direction: column;
    gap: var(--x4);
  }
  [role="tabpanel"] {
    scroll-margin-top: 0;
  }
}
