[data-tab] {
  height: 5rem;
}
[role="tablist"] {
  position: absolute;
}
[role="tablist"] [role="tab"] {
  min-width: 16rem; 
  text-align: center; 
  border-bottom:1px solid var(--tab-color-line);
  height: 5rem;
}
[role="tablist"] [role="tab"][aria-selected="true"] {
  border-color:var(--tab-color-line-selected);
  border-width:.4rem;
}
[data-tab-wrap="codeGuide"] {
  width: 100%;
}

.list-history {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--x2);

  &::before {
    content:"";
    position: absolute;
    top: 0.5em;
    left: 0.7rem;
    width: .3rem;
    height: calc(100% - 0.5em);
    background-color: var(--list-history--line);
  }
  &--item {
    margin-bottom: .4rem;
    font-size: 1.4rem;
    color: var(--list-history--text);
    line-height: 1.6;
    position: relative;
    padding-left: 2rem;
    display: flex;
    gap: .4rem;

    &-key {
      font-weight: 600;
      flex-shrink: 0;
    }
    &:first-child::before {
      background-color: var(--sub);
    }
    &::before {
      content:"";
      position: absolute;
      top:0.55em;
      left:0.4rem;
      display: block;
      width: .9rem;
      height: .9rem;
      border-radius: 50%;
      background-color: var(--list-history--circle);
    }
  }
}

@media screen and (max-width: 700px) {
  [role="tablist"] [role="tab"] {
    min-width: 0;
  }
}