body {
  background-color: var(--bgcolor);
}

.base-header {
  position: sticky;
  top:0;
  width: 100%;
  z-index: 1;
  background: linear-gradient(var(--bgheader));

  &--wrap {
    display: flex;
    width: 100%;
    justify-content:space-between;
    padding: var(--x2) var(--x2);
    align-items: center;
  }

  &--title {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;

    h1 {
      display: flex;
      align-items: center;
      gap: var(--x1);
      
    }
    .logo {
      display: block;
      width: var(--x18);
    }
    sup {
      font-size: var(--x1);
      border-radius: 0.4rem;
      background: linear-gradient(20deg, #111 50%, #444 55%);
      color: #000;
      padding: 0.1rem 0.4rem;
      display: flex;
      letter-spacing: 0;
    }
  }

  &--group {
    display: flex;
    gap: var(--x2);
  }
}

.nav-main {
  position: fixed;
  top:0;
  left: calc(50% - 45rem);
  max-width: 90rem;
  width: 100%;
  padding: 9rem var(--x2) 11rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--x3);
  
  z-index: 0;
  transform: translateY(-100vh);
  transition: transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-delay: 200ms;

  &::before {
    content:"";
    display: block;
    position: absolute;
    bottom: 0;
    left: -250rem;
    width: 500rem;
    height: 100rem;
    background-color: var(--nav-bgcolor1);
    z-index: 1;
    pointer-events: none;
    transform: rotate(0deg);
    box-shadow: 0 0 0 rgba($color: #000000, $alpha: 0);
    transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955) ;
    opacity: 0.9;
  }
  &::after {
    content:"";
    display: block;
    position: absolute;
    bottom: 0;
    left: -250rem;
    width: 500rem;
    height: 100rem;
    background-color: var(--nav-bgcolor2);
    z-index: 0;
    pointer-events: none;
    transform: rotate(0deg);
    transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955) ;
    opacity: 0;
  }
  &[data-toggle-state="selected"] {
    transform: translateY(0);
    transition: transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
   
    &::before {
      transform: rotate(6deg);
      bottom: 6rem;
      box-shadow: 0rem .8rem 1.8rem rgba($color: #000000, $alpha: 0.05);
      transition: all 800ms cubic-bezier(0.455, 0.03, 0.515, 0.955) ;
    }
     &::after {
      transform: rotate(-4deg);
      background-color: var(--nav-bgcolor2);
      bottom: 3rem;
      opacity: 0.1;
      transition: all 900ms cubic-bezier(0.455, 0.03, 0.515, 0.955) ;
    }
  }
  &--wrap {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: var(--x2);
    a {
      color: var(--black);

      &[aria-disabled="true"] {
        pointer-events: none;
        opacity: 0.5;
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      gap:var(--x2);
      transform: translateY(0.2rem);
    }
  }
}

[data-toggle-state="selected"] .base-body {
  padding-top: 20rem;
  transition: padding 300ms ease;
}
.base-body {
  transition: padding 300ms ease;
  transition-delay: 200ms;
}

.base-footer {
  display: flex;
  padding: var(--x2) var(--x3) var(--x6) ;
  align-items: center;
  
}

.base-content {
  position: relative;
  z-index: 0;
}

@media (max-width: 1023px) {
  .nav-main {
    left: 0;
    height: 100dvh;
    overflow-y: auto;
    background-color: var(--nav-bgcolor1);
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    &::after,
    &::before {
      display: none;
    }
    [data-heading] {
      text-align: left;
      width: 30vw;
      flex-shrink: 0;
    }
  }
  .nav-main--wrap {
    width: 100%;
    justify-content:flex-start;
    padding: 0 var(--x4)
  }
  .nav-main--wrap ul {
    flex-direction: column;
    gap:var(--x1)
  }
}

