// main  
.area-base[data-layout="main"] {
  padding: 0 var(--x2) var(--x2);
  overflow: hidden;
  height: 100dvh;

  .base-body {
    height: 100%;
    padding-bottom: 10rem;
  }

  .base-main {
    height: 100%;
    padding-bottom: 10rem;
  }
}

.img-main {
  position: relative;
  width: 100%;
  height: 100%;
  filter: grayscale(1) blur(1rem);
  animation-name: blurshow;
  animation-timing-function: cubic-bezier(0.68, 0.37, 0.29, 0.62);
  animation-iteration-count: 1;
  animation-duration: 2000ms;
  animation-fill-mode: forwards;
  animation-delay: 1500ms;

  h2 {
    position: absolute;
    left: calc(50% - 10rem);
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem
  }

  p {
    display: block;
    text-align: center;
    font-size: 1.1rem;
    letter-spacing: 1.5rem;
    font-weight: 400;
    white-space: nowrap;

    b {
      font-weight: 900;
    }
  }

  .logo-netive {
    width: 10rem;
  }

  .logo {

    width: 70rem;
  }

  &>img {
    animation-name: dongsil;
    animation-timing-function: cubic-bezier(0.68, 0.37, 0.29, 0.62);
    animation-iteration-count: infinite;
    animation-duration: 3600ms;
    animation-fill-mode: forwards;
  }

  .img1 {
    position: absolute;
    top: calc(50% - 55rem);
    left: calc(50% - 54rem);
    width: 28rem;
    animation-duration: 4200ms;
  }

  .img2 {
    position: absolute;
    top: 24%;
    left: calc(50% - 91rem);
    width: 27rem;
    animation-duration: 8200ms;
  }

  .img3 {
    position: absolute;
    top: 67%;
    left: calc(50% - 62rem);
    width: 29rem;
    animation-duration: 6200ms;
  }

  .img4 {
    position: absolute;
    top: 5%;
    left: calc(50% + 17rem);
    width: 23rem;
    animation-duration: 13460ms;
  }

  .img5 {
    position: absolute;
    top: 25%;
    left: calc(50% + 60rem);
    width: 27rem;
    animation-duration: 7340ms;
  }

  .img6 {
    position: absolute;
    top: 63%;
    left: calc(50% + 33rem);
    width: 34rem;
    animation-duration: 9270ms;
  }

  .img7 {
    position: absolute;
    top: 47%;
    left: calc(50% + 21rem);
    width: 28rem;
    animation-duration: 3850ms;
  }
}

@keyframes blurshow {
  0% {
    filter: grayscale(1) blur(1rem);
  }

  100% {
    filter: grayscale(0) blur(0);
  }
}

@keyframes dongsil {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(4rem);
  }

  100% {
    transform: translateY(0rem);
  }
}

@media (max-width: 700px) {
  .img-main .logo-netive {
    width: 6rem;
  }

  .img-main h2 {
    left: 50%
  }

  .img-main p {
    letter-spacing: .8rem;
    width: 21rem;
    line-height: 1.8;
    white-space: normal;
  }

  .img-main .img1 {
    top: calc(50% - 35rem);
    left: calc(50% - 21rem);
    width: 17rem;
  }

  .img-main .img2 {
    top: calc(50% + -13rem);
    left: calc(50% - 22rem);
    width: 13rem;
    z-index: -1;
  }

  .img-main .img3 {
    top: calc(50% + 8rem);
    left: calc(50% + -14rem);
    width: 10rem;
  }

  .img-main .img4 {
    top: calc(50% - 21rem);
    left: calc(50% + 6rem);
    width: 7rem;
  }

  .img-main .img5 {
    top: calc(50% + -3rem);
    left: calc(50% + 12rem);
    width: 10rem;
  }

  .img-main .img6 {
    top: calc(50% + 8rem);
    left: calc(50% + 2rem);
    width: 7rem;
  }

  .img-main .img7 {
    top: calc(50% + 10rem);
    left: calc(50% + 6rem);
    width: 14rem;
  }
}